.status-list-wrapper {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    .status-list-title {
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (max-width: 767px) and (orientation: landscape) {
        text-align: start;
    }
}

.status-list-container {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    width: 100%;

    & > * {
        flex: 0.25;
    }

    @media screen and (max-width: 767px) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    @media screen and (max-width: 767px) and (orientation: landscape) {
        flex-direction: row;
    }
}
