@import "../../style/constants.scss";

.app-button {
    cursor: url("/nightmare-cursor-click-32.png") 4 4, auto;
    font-weight: 900;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &.dark {
        color: $primary_color;
        background: $dark_color;
    }

    &.light {
        color: $dark_color;
        background: $cyberpunk_gradient;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 0 22px rgba(0, 255, 255, 0.35);
    }
}
